<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adt.dao.FinAbwsMapper">
    <resultMap id="finAbwsResultMap" type="com.adt.model.FinAbws">
        <id column="ID" property="id"/>
        <result column="CYEAR" property="cyear"/>
        <result column="DATA1" property="data1"/>
        <result column="DATA2" property="data2"/>
        <result column="DATA3" property="data3"/>
        <result column="DATA4" property="data4"/>
        <result column="DATA5" property="data5"/>
        <result column="DATA6" property="data6"/>
        <result column="ORGCATID" property="orgcatid"/>
        <result column="ORGCODE" property="orgcode"/>
        <result column="PLANID" property="planid"/>
        <result column="STEPID" property="stepid"/>
    </resultMap>

    <!-- =================================================================== -->
    <sql id="selectDefaultFinAbws">
        SELECT 
              ID,
              CYEAR,
              DATA1,
              DATA2,
              DATA3,
              DATA4,
              DATA5,
              DATA6,
              ORGCATID,
              ORGCODE,
              PLANID,
              STEPID
        FROM FIN_ABWS
    </sql>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <sql id="whereDefaultFinAbws">
        <where>
              <if test="id > 0">AND ID = #{id}</if>
              <if test="cyear != null">AND CYEAR = #{cyear}</if>
              <if test="data1 != null">AND DATA1 = #{data1}</if>
              <if test="data2 != null">AND DATA2 = #{data2}</if>
              <if test="data3 != null">AND DATA3 = #{data3}</if>
              <if test="data4 != null">AND DATA4 = #{data4}</if>
              <if test="data5 != null">AND DATA5 = #{data5}</if>
              <if test="data6 != null">AND DATA6 = #{data6}</if>
              <if test="orgcatid > 0">AND ORGCATID = #{orgcatid}</if>
              <if test="orgcode != null">AND ORGCODE = #{orgcode}</if>
              <if test="planid > 0">AND PLANID = #{planid}</if>
              <if test="stepid > 0">AND STEPID = #{stepid}</if>
        </where>
    </sql>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <sql id="orderByDefaultFinAbws">
        <if test="ORDER_COLUMN != null">
            $ORDER_COLUMN$
            $ORDER_TYPE$
        </if>
    </sql>
    <!-- =================================================================== -->

	<!--list-->
    <select id="selectByPage" resultMap="finAbwsResultMap">
        <![CDATA[
        SELECT * FROM ( SELECT b.*, ROWNUM RN FROM (SELECT * FROM FIN_ABWS #{searchQuery} #{orderQuery}) b where ROWNUM
        <= #{lastIndex}) WHERE RN > #{firstIndex}
        ]]>
    </select>
    
    <!--list size-->
    <select id="selectCount" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(*) FROM FIN_ABWS ${searchQuery}
        ]]>
    </select>
    
     <!--find by id-->
    <select id="findById" resultMap="finAbwsResultMap">
        <![CDATA[
			SELECT * FROM FIN_ABWS WHERE 'id' = #{id}
        ]]>
    </select>
    
     <!--list by id-->
    <select id="findAll" resultMap="finAbwsResultMap">
        <![CDATA[
			SELECT * FROM FIN_ABWS order by id desc
        ]]>
    </select>

    <!-- =================================================================== -->
    <select id="select" parameterType="finAbws" resultMap="finAbwsResultMap">
        <include refid="selectDefaultFinAbws" />     
        <include refid="whereDefaultFinAbws" />
    </select>
    <!-- =================================================================== -->

	<!--list-->
    <!-- =================================================================== -->
    <select id="list" parameterType="finAbws" resultMap="finAbwsResultMap">
        <include refid="selectDefaultFinAbws" />     
        <include refid="whereDefaultFinAbws" />
        <include refid="orderByDefaultFinAbws" />
    </select>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <insert id="insert" parameterType="finAbws">
        INSERT INTO FIN_ABWS
            (ID, CYEAR, DATA1, DATA2, DATA3, DATA4, DATA5, DATA6, ORGCATID, ORGCODE, PLANID, STEPID)
        VALUES
            (#{id}, #{cyear}, #{data1}, #{data2}, #{data3}, #{data4}, #{data5}, #{data6}, #{orgcatid}, #{orgcode}, #{planid}, #{stepid})
    </insert>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <update id="update" parameterType="finAbws">
        UPDATE FIN_ABWS
        <set>
              <if test="id > 0">ID = #{id},</if>
              <if test="cyear != null">CYEAR = #{cyear},</if>
              <if test="data1 != null">DATA1 = #{data1},</if>
              <if test="data2 != null">DATA2 = #{data2},</if>
              <if test="data3 != null">DATA3 = #{data3},</if>
              <if test="data4 != null">DATA4 = #{data4},</if>
              <if test="data5 != null">DATA5 = #{data5},</if>
              <if test="data6 != null">DATA6 = #{data6},</if>
              <if test="orgcatid > 0">ORGCATID = #{orgcatid},</if>
              <if test="orgcode != null">ORGCODE = #{orgcode},</if>
              <if test="planid > 0">PLANID = #{planid},</if>
              <if test="stepid > 0">STEPID = #{stepid},</if>
        </set>
        <where>
              <if test="id > 0">AND ID = #{id}</if>
              <if test="cyear != null">AND CYEAR = #{cyear}</if>
              <if test="data1 != null">AND DATA1 = #{data1}</if>
              <if test="data2 != null">AND DATA2 = #{data2}</if>
              <if test="data3 != null">AND DATA3 = #{data3}</if>
              <if test="data4 != null">AND DATA4 = #{data4}</if>
              <if test="data5 != null">AND DATA5 = #{data5}</if>
              <if test="data6 != null">AND DATA6 = #{data6}</if>
              <if test="orgcatid > 0">AND ORGCATID = #{orgcatid}</if>
              <if test="orgcode != null">AND ORGCODE = #{orgcode}</if>
              <if test="planid > 0">AND PLANID = #{planid}</if>
              <if test="stepid > 0">AND STEPID = #{stepid}</if>
        </where>
    </update>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <delete id="delete" parameterType="finAbws">
        DELETE FROM FIN_ABWS
			<include refid="whereDefaultFinAbws"/>
    </delete>
    <!-- =================================================================== -->
</mapper>
