<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adt.dao.FinJournalMapper">
    <resultMap id="finJournalResultMap" type="com.adt.model.FinJournal">
        <id column="ID" property="id"/>
        <result column="A" property="a"/>
        <result column="AMOUNT" property="amount"/>
        <result column="B" property="b"/>
        <result column="C" property="c"/>
        <result column="D" property="d"/>
        <result column="DATA1" property="data1"/>
        <result column="DATA10" property="data10"/>
        <result column="DATA11" property="data11"/>
        <result column="DATA12" property="data12"/>
        <result column="DATA13" property="data13"/>
        <result column="DATA14" property="data14"/>
        <result column="DATA15" property="data15"/>
        <result column="DATA16" property="data16"/>
        <result column="DATA17" property="data17"/>
        <result column="DATA18" property="data18"/>
        <result column="DATA19" property="data19"/>
        <result column="DATA2" property="data2"/>
        <result column="DATA20" property="data20"/>
        <result column="DATA21" property="data21"/>
        <result column="DATA3" property="data3"/>
        <result column="DATA4" property="data4"/>
        <result column="DATA5" property="data5"/>
        <result column="DATA6" property="data6"/>
        <result column="DATA7" property="data7"/>
        <result column="DATA8" property="data8"/>
        <result column="DATA9" property="data9"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="E" property="e"/>
        <result column="PLANID" property="planid"/>
        <result column="STEPID" property="stepid"/>
        <result column="JMONTH" property="jmonth"/>
    </resultMap>

    <!-- =================================================================== -->
    <sql id="selectDefaultFinJournal">
        SELECT 
              ID,
              A,
              AMOUNT,
              B,
              C,
              D,
              DATA1,
              DATA10,
              DATA11,
              DATA12,
              DATA13,
              DATA14,
              DATA15,
              DATA16,
              DATA17,
              DATA18,
              DATA19,
              DATA2,
              DATA20,
              DATA21,
              DATA3,
              DATA4,
              DATA5,
              DATA6,
              DATA7,
              DATA8,
              DATA9,
              DESCRIPTION,
              E,
              PLANID,
              STEPID,
              JMONTH
        FROM FIN_JOURNAL
    </sql>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <sql id="whereDefaultFinJournal">
        <where>
              <if test="id > 0">AND ID = #{id}</if>
              <if test="a > 0">AND A = #{a}</if>
              <if test="amount > 0">AND AMOUNT = #{amount}</if>
              <if test="b > 0">AND B = #{b}</if>
              <if test="c > 0">AND C = #{c}</if>
              <if test="d > 0">AND D = #{d}</if>
              <if test="data1 != null">AND DATA1 = #{data1}</if>
              <if test="data10 > 0">AND DATA10 = #{data10}</if>
              <if test="data11 != null">AND DATA11 = #{data11}</if>
              <if test="data12 != null">AND DATA12 = #{data12}</if>
              <if test="data13 != null">AND DATA13 = #{data13}</if>
              <if test="data14 != null">AND DATA14 = #{data14}</if>
              <if test="data15 != null">AND DATA15 = #{data15}</if>
              <if test="data16 != null">AND DATA16 = #{data16}</if>
              <if test="data17 != null">AND DATA17 = #{data17}</if>
              <if test="data18 != null">AND DATA18 = #{data18}</if>
              <if test="data19 != null">AND DATA19 = #{data19}</if>
              <if test="data2 != null">AND DATA2 = #{data2}</if>
              <if test="data20 != null">AND DATA20 = #{data20}</if>
              <if test="data21 != null">AND DATA21 = #{data21}</if>
              <if test="data3 != null">AND DATA3 = #{data3}</if>
              <if test="data4 != null">AND DATA4 = #{data4}</if>
              <if test="data5 != null">AND DATA5 = #{data5}</if>
              <if test="data6 != null">AND DATA6 = #{data6}</if>
              <if test="data7 != null">AND DATA7 = #{data7}</if>
              <if test="data8 != null">AND DATA8 = #{data8}</if>
              <if test="data9 != null">AND DATA9 = #{data9}</if>
              <if test="description != null">AND DESCRIPTION = #{description}</if>
              <if test="e > 0">AND E = #{e}</if>
              <if test="planid > 0">AND PLANID = #{planid}</if>
              <if test="stepid > 0">AND STEPID = #{stepid}</if>
              <if test="jmonth > 0">AND JMONTH = #{jmonth}</if>
        </where>
    </sql>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <sql id="orderByDefaultFinJournal">
        <if test="ORDER_COLUMN != null">
            $ORDER_COLUMN$
            $ORDER_TYPE$
        </if>
    </sql>
    <!-- =================================================================== -->

	<!--list-->
    <select id="selectByPage" resultMap="finJournalResultMap">
        <![CDATA[
        SELECT * FROM ( SELECT b.*, ROWNUM RN FROM (SELECT * FROM FIN_JOURNAL #{searchQuery} #{orderQuery}) b where ROWNUM
        <= #{lastIndex}) WHERE RN > #{firstIndex}
        ]]>
    </select>
    
    <!--list size-->
    <select id="selectCount" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(*) FROM FIN_JOURNAL ${searchQuery}
        ]]>
    </select>
    
     <!--find by id-->
    <select id="findById" resultMap="finJournalResultMap">
        <![CDATA[
			SELECT * FROM FIN_JOURNAL WHERE 'id' = #{id}
        ]]>
    </select>
    
     <!--list by id-->
    <select id="findAll" resultMap="finJournalResultMap">
        <![CDATA[
			SELECT * FROM FIN_JOURNAL order by id desc
        ]]>
    </select>

    <!-- =================================================================== -->
    <select id="select" parameterType="finJournal" resultMap="finJournalResultMap">
        <include refid="selectDefaultFinJournal" />     
        <include refid="whereDefaultFinJournal" />
    </select>
    <!-- =================================================================== -->

	<!--list-->
    <!-- =================================================================== -->
    <select id="list" parameterType="finJournal" resultMap="finJournalResultMap">
        <include refid="selectDefaultFinJournal" />     
        <include refid="whereDefaultFinJournal" />
        <include refid="orderByDefaultFinJournal" />
    </select>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <insert id="insert" parameterType="finJournal">
        INSERT INTO FIN_JOURNAL
            (ID, A, AMOUNT, B, C, D, DATA1, DATA10, DATA11, DATA12, DATA13, DATA14, DATA15, DATA16, DATA17, DATA18, DATA19, DATA2, DATA20, DATA21, DATA3, DATA4, DATA5, DATA6, DATA7, DATA8, DATA9, DESCRIPTION, E, PLANID, STEPID, JMONTH)
        VALUES
            (#{id}, #{a}, #{amount}, #{b}, #{c}, #{d}, #{data1}, #{data10}, #{data11}, #{data12}, #{data13}, #{data14}, #{data15}, #{data16}, #{data17}, #{data18}, #{data19}, #{data2}, #{data20}, #{data21}, #{data3}, #{data4}, #{data5}, #{data6}, #{data7}, #{data8}, #{data9}, #{description}, #{e}, #{planid}, #{stepid}, #{jmonth})
    </insert>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <update id="update" parameterType="finJournal">
        UPDATE FIN_JOURNAL
        <set>
              <if test="id > 0">ID = #{id},</if>
              <if test="a > 0">A = #{a},</if>
              <if test="amount > 0">AMOUNT = #{amount},</if>
              <if test="b > 0">B = #{b},</if>
              <if test="c > 0">C = #{c},</if>
              <if test="d > 0">D = #{d},</if>
              <if test="data1 != null">DATA1 = #{data1},</if>
              <if test="data10 > 0">DATA10 = #{data10},</if>
              <if test="data11 != null">DATA11 = #{data11},</if>
              <if test="data12 != null">DATA12 = #{data12},</if>
              <if test="data13 != null">DATA13 = #{data13},</if>
              <if test="data14 != null">DATA14 = #{data14},</if>
              <if test="data15 != null">DATA15 = #{data15},</if>
              <if test="data16 != null">DATA16 = #{data16},</if>
              <if test="data17 != null">DATA17 = #{data17},</if>
              <if test="data18 != null">DATA18 = #{data18},</if>
              <if test="data19 != null">DATA19 = #{data19},</if>
              <if test="data2 != null">DATA2 = #{data2},</if>
              <if test="data20 != null">DATA20 = #{data20},</if>
              <if test="data21 != null">DATA21 = #{data21},</if>
              <if test="data3 != null">DATA3 = #{data3},</if>
              <if test="data4 != null">DATA4 = #{data4},</if>
              <if test="data5 != null">DATA5 = #{data5},</if>
              <if test="data6 != null">DATA6 = #{data6},</if>
              <if test="data7 != null">DATA7 = #{data7},</if>
              <if test="data8 != null">DATA8 = #{data8},</if>
              <if test="data9 != null">DATA9 = #{data9},</if>
              <if test="description != null">DESCRIPTION = #{description},</if>
              <if test="e > 0">E = #{e},</if>
              <if test="planid > 0">PLANID = #{planid},</if>
              <if test="stepid > 0">STEPID = #{stepid},</if>
              <if test="jmonth > 0">JMONTH = #{jmonth},</if>
        </set>
        <where>
              <if test="id > 0">AND ID = #{id}</if>
              <if test="a > 0">AND A = #{a}</if>
              <if test="amount > 0">AND AMOUNT = #{amount}</if>
              <if test="b > 0">AND B = #{b}</if>
              <if test="c > 0">AND C = #{c}</if>
              <if test="d > 0">AND D = #{d}</if>
              <if test="data1 != null">AND DATA1 = #{data1}</if>
              <if test="data10 > 0">AND DATA10 = #{data10}</if>
              <if test="data11 != null">AND DATA11 = #{data11}</if>
              <if test="data12 != null">AND DATA12 = #{data12}</if>
              <if test="data13 != null">AND DATA13 = #{data13}</if>
              <if test="data14 != null">AND DATA14 = #{data14}</if>
              <if test="data15 != null">AND DATA15 = #{data15}</if>
              <if test="data16 != null">AND DATA16 = #{data16}</if>
              <if test="data17 != null">AND DATA17 = #{data17}</if>
              <if test="data18 != null">AND DATA18 = #{data18}</if>
              <if test="data19 != null">AND DATA19 = #{data19}</if>
              <if test="data2 != null">AND DATA2 = #{data2}</if>
              <if test="data20 != null">AND DATA20 = #{data20}</if>
              <if test="data21 != null">AND DATA21 = #{data21}</if>
              <if test="data3 != null">AND DATA3 = #{data3}</if>
              <if test="data4 != null">AND DATA4 = #{data4}</if>
              <if test="data5 != null">AND DATA5 = #{data5}</if>
              <if test="data6 != null">AND DATA6 = #{data6}</if>
              <if test="data7 != null">AND DATA7 = #{data7}</if>
              <if test="data8 != null">AND DATA8 = #{data8}</if>
              <if test="data9 != null">AND DATA9 = #{data9}</if>
              <if test="description != null">AND DESCRIPTION = #{description}</if>
              <if test="e > 0">AND E = #{e}</if>
              <if test="planid > 0">AND PLANID = #{planid}</if>
              <if test="stepid > 0">AND STEPID = #{stepid}</if>
              <if test="jmonth > 0">AND JMONTH = #{jmonth}</if>
        </where>
    </update>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <delete id="delete" parameterType="finJournal">
        DELETE FROM FIN_JOURNAL
			<include refid="whereDefaultFinJournal"/>
    </delete>
    <!-- =================================================================== -->
</mapper>
