<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adt.dao.LnkAuditReportsMapper">
    <resultMap id="lnkAuditReportsResultMap" type="com.adt.model.LnkAuditReports">
        <id column="ID" property="id"/>
        <result column="APPID" property="appid"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="FILENAME" property="filename"/>
        <result column="FILEURL" property="fileurl"/>
        <result column="FNAME" property="fname"/>
        <result column="FSIZE" property="fsize"/>
        <result column="STEPID" property="stepid"/>
    </resultMap>

    <!-- =================================================================== -->
    <sql id="selectDefaultLnkAuditReports">
        SELECT 
              ID,
              APPID,
              CREATE_DATE,
              FILENAME,
              FILEURL,
              FNAME,
              FSIZE,
              STEPID
        FROM LNK_AUDIT_REPORTS
    </sql>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <sql id="whereDefaultLnkAuditReports">
        <where>
              <if test="id > 0">AND ID = #{id}</if>
              <if test="appid > 0">AND APPID = #{appid}</if>
              <if test="createDate != null">AND CREATE_DATE = #{createDate}</if>
              <if test="filename != null">AND FILENAME = #{filename}</if>
              <if test="fileurl != null">AND FILEURL = #{fileurl}</if>
              <if test="fname != null">AND FNAME = #{fname}</if>
              <if test="fsize > 0">AND FSIZE = #{fsize}</if>
              <if test="stepid > 0">AND STEPID = #{stepid}</if>
        </where>
    </sql>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <sql id="orderByDefaultLnkAuditReports">
        <if test="ORDER_COLUMN != null">
            $ORDER_COLUMN$
            $ORDER_TYPE$
        </if>
    </sql>
    <!-- =================================================================== -->

	<!--list-->
    <select id="selectByPage" resultMap="lnkAuditReportsResultMap">
        <![CDATA[
        SELECT * FROM ( SELECT b.*, ROWNUM RN FROM (SELECT * FROM LNK_AUDIT_REPORTS #{searchQuery} #{orderQuery}) b where ROWNUM
        <= #{lastIndex}) WHERE RN > #{firstIndex}
        ]]>
    </select>
    
    <!--list size-->
    <select id="selectCount" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(*) FROM LNK_AUDIT_REPORTS ${searchQuery}
        ]]>
    </select>
    
     <!--find by id-->
    <select id="findById" resultMap="lnkAuditReportsResultMap">
        <![CDATA[
			SELECT * FROM LNK_AUDIT_REPORTS WHERE 'id' = #{id}
        ]]>
    </select>
    
     <!--list by id-->
    <select id="findAll" resultMap="lnkAuditReportsResultMap">
        <![CDATA[
			SELECT * FROM LNK_AUDIT_REPORTS order by id desc
        ]]>
    </select>

    <!-- =================================================================== -->
    <select id="select" parameterType="lnkAuditReports" resultMap="lnkAuditReportsResultMap">
        <include refid="selectDefaultLnkAuditReports" />     
        <include refid="whereDefaultLnkAuditReports" />
    </select>
    <!-- =================================================================== -->

	<!--list-->
    <!-- =================================================================== -->
    <select id="list" parameterType="lnkAuditReports" resultMap="lnkAuditReportsResultMap">
        <include refid="selectDefaultLnkAuditReports" />     
        <include refid="whereDefaultLnkAuditReports" />
        <include refid="orderByDefaultLnkAuditReports" />
    </select>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <insert id="insert" parameterType="lnkAuditReports">
        INSERT INTO LNK_AUDIT_REPORTS
            (ID, APPID, CREATE_DATE, FILENAME, FILEURL, FNAME, FSIZE, STEPID)
        VALUES
            (#{id}, #{appid}, #{createDate}, #{filename}, #{fileurl}, #{fname}, #{fsize}, #{stepid})
    </insert>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <update id="update" parameterType="lnkAuditReports">
        UPDATE LNK_AUDIT_REPORTS
        <set>
              <if test="id > 0">ID = #{id},</if>
              <if test="appid > 0">APPID = #{appid},</if>
              <if test="createDate != null">CREATE_DATE = #{createDate},</if>
              <if test="filename != null">FILENAME = #{filename},</if>
              <if test="fileurl != null">FILEURL = #{fileurl},</if>
              <if test="fname != null">FNAME = #{fname},</if>
              <if test="fsize > 0">FSIZE = #{fsize},</if>
              <if test="stepid > 0">STEPID = #{stepid},</if>
        </set>
        <where>
              <if test="id > 0">AND ID = #{id}</if>
              <if test="appid > 0">AND APPID = #{appid}</if>
              <if test="createDate != null">AND CREATE_DATE = #{createDate}</if>
              <if test="filename != null">AND FILENAME = #{filename}</if>
              <if test="fileurl != null">AND FILEURL = #{fileurl}</if>
              <if test="fname != null">AND FNAME = #{fname}</if>
              <if test="fsize > 0">AND FSIZE = #{fsize}</if>
              <if test="stepid > 0">AND STEPID = #{stepid}</if>
        </where>
    </update>
    <!-- =================================================================== -->

    <!-- =================================================================== -->
    <delete id="delete" parameterType="lnkAuditReports">
        DELETE FROM LNK_AUDIT_REPORTS
			<include refid="whereDefaultLnkAuditReports"/>
    </delete>
    <!-- =================================================================== -->
</mapper>
